<div>
  <button class="save" (click)="save()">Save</button>
</div>
<div class="scroll-block">
  <div *ngFor="let s of stocks" class="block">
    <button class="delete" (click)="remove(s.id)">&#10006;</button>
    <div class="content-grid">
      <p>Закон:</p>
      <select [(ngModel)]="s.rule">
        <option value="" selected></option>
        <option value="0">Нормальный</option>
        <option value="1">Равномерный</option>
      </select>
      <p>Макс:</p><input type="number" [(ngModel)]="s.max">
      <p>Мин:</p><input type="number" [(ngModel)]="s.min">
      <p>Есть:</p><input type="number" [(ngModel)]="s.have">
    </div>
  </div>
  <button class="add" (click)="add()">Add</button>
</div>
