h2{
  font-family: Georgia, serif;
  font-size: 60px;
  margin: 0;
  text-align: center;
  margin-bottom: 50px;
}
h3{
  font-family: Georgia, serif;
  font-size: 70px;
  margin: 0;
}
.mainhelp{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
li{
  font-family: Georgia, serif;
  font-size: 40px;
  font-weight: bold;
  margin: 0;
  margin-left: 40px;
}
