doctype html
html
  head
    title= title
    script(src="/socket.io/socket.io.js")
    link(rel='stylesheet', href='/stylesheets/jquery-ui.css')
    link(rel='stylesheet', href='/stylesheets/w3.css')
    script(src="/jQ/jquery.js")
    script(src="/jQ/jquery-ui.js")
  body
    block content
